.mapBase {
    
}

.mapGrid {
    padding: 0%;
    margin: 0%;
}

.mapGridContainer {
    display:grid;
    width: fit-content;
}

.mapGridRow {
    
}

.mapGridCol {
    
}

.mapGridNode {
    width:50px;
    aspect-ratio: 1;
}